{% extends "base.html" %}
{% block content %}
<h2>{{ "Edit" if dept else "New" }} Department</h2>
<article>
<form method="post">
  {% if not dept %}
  <label>Code
    <input type="text" name="code" required>
  </label>
  {% endif %}
  <label>Name
    <input type="text" name="name" value="{{ dept.name if dept }}" required>
  </label>
  <label>Location (room)
    <input type="text" name="location" value="{{ dept.location if dept }}">
  </label>
  <div class="actions">
    <button type="submit">Save</button>
    <a href="{{ url_for('departments.list_departments') }}" role="button" class="secondary">Cancel</a>
  </div>
</form>
</article>
{% endblock %}
